:root{
  /* Colours */
  --clr-primary-500:hsl(251, 93%, 9%);
  --clr-accent-500:hsl(202, 81%, 19%);
  --clr-accent-900:hsl(202, 100%, 87%);
  --linear-gradient-primary: linear-gradient(120deg, var(--clr-primary-500), var(--clr-accent-500));

/* UtilityClasses */
  --box-shadow: 0 0 20px 5px var(--clr-accent-500);
  --border-radius:10px;
}
*,
*::before,
*::after{
  margin:0;
  padding:0;
  box-sizing: border-box;
  overflow: hidden;
  outline:none;
  letter-spacing: 0.1em;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 600;
}
html{
  height:100vh;
  width:100vw;
  background: var(--linear-gradient-primary);
}

.main-content{
  padding: 0.5rem;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-content h1{
  background: var(--clr-primary-500);
  border-radius: var(--border-radius);
  height: fit-content;
  padding:1rem 2rem;
  margin: 2rem;
  font-size: clamp(0.25vw, 4vw, 3rem);
  color:var(--clr-accent-900);
  box-shadow: var(--box-shadow);
  
}
.main-content > *{
  padding:1rem 2rem;
}

.contact-list{
  position: absolute;
  top:0;
  left:0;
  height:100vh;
  width:100vw;
  background: var(--linear-gradient-primary);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  text-align: center;
  color: var(--clr-accent-900);
}
.contact{
  display: flex;
  flex-direction: column;
  margin:0.5rem 1rem;
  padding:0.5rem 1.5rem;
  font-size: 0.8em;
  height:fit-content;
  background: var(--clr-primary-500);
  color: var(--clr-accent-900);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);

}
.close-contact-button{
  background: var(--clr-primary-500);
  color: var(--clr-accent-900);
  box-shadow: var(--box-shadow);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  letter-spacing: normal;
  border-radius: var(--border-radius);
  position: absolute;
  top: 5px;
  right:5px;
  height: 20px;
  width: 20px;
  border:none;
}
