:root{
  --clr-primary-500:hsl(251, 93%, 11%);
  --clr-accent-500:hsl(213, 61%, 19%);
  --clr-accent-900:hsl(213, 88%, 73%);
}
*,
*::before,
*::after{
  margin:0;
  padding:0;
  box-sizing: border-box;
  overflow: hidden;
}

.main-content{
  padding: 0.5rem;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(120deg, var(--clr-primary-500), var(--clr-accent-500));
  display: flex;
  justify-content: center;
}
.main-content h1{
  background: var(--clr-primary-500);
  border-radius: 10px;
  height: fit-content;
  padding:1rem 2rem;
  margin-top: 2rem;
  color:var(--clr-accent-900);
  animation: pulse 3000ms infinite ease-in-out alternate;
}
@keyframes pulse {
  from{
    box-shadow: 0 0 4px 4px var(--clr-accent-500);
  }
  to{
    box-shadow: 0 0 34px 8px var(--clr-accent-500);
  }
}