:root{
  /* Colours */
  --clr-primary-500:hsl(251, 93%, 9%);
  --clr-accent-500:hsl(202, 81%, 19%);
  --clr-accent-900:hsl(202, 100%, 83%);
  --linear-gradient-primary: linear-gradient(120deg, var(--clr-primary-500), var(--clr-accent-500));

/* UtilityClasses */
  --box-shadow: 0 0 30px 5px var(--clr-accent-500);
  --border-radius:10px;
}
*,
*::before,
*::after{
  margin:0;
  padding:0;
  box-sizing: border-box;
  overflow: hidden;
  letter-spacing: 0.1em;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 600;
}
html{
  height:100vh;
  width:100vw;
  background: var(--linear-gradient-primary);
}

.main-content{
  padding: 0.5rem;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-content h1{
  background: var(--clr-primary-500);
  border-radius: var(--border-radius);
  height: fit-content;
  padding:1rem 2rem;
  margin: 2rem;
  font-size: clamp(0.25vw, 4vw, 3rem);
  color:var(--clr-accent-900);
  box-shadow: var(--box-shadow);
  
}
.main-content > *{
  padding:1rem 2rem;
}

