.phone-list-button{
    position: absolute;
    top:5px;
    right:5px;
    width:80px;
    height:30px;
    font-size: 0.6em;
    padding:0.25rem 0.75rem;
    background: var(--clr-primary-500);
    border: none;
    border-radius: var(--border-radius);
    color: var(--clr-accent-900);
    box-shadow:var(--box-shadow);
}
.contact-list-container{
    position: absolute;
    top:0;
    left:0;
    height:100vh;
    width:100vw;
    background: var(--linear-gradient-primary);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
    color: var(--clr-accent-900);
  }
  .contact-list{
    position: relative;
    top:40px;
  }
  .contact{
    position: relative;
    display: flex;
    flex-direction: column;
    margin:0.5rem 1rem;
    padding:0.5rem 1.5rem;
    font-size: 0.8em;
    height:fit-content;
    background: var(--clr-primary-500);
    color: var(--clr-accent-900);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
  
  }
  .contact-button{
    background: var(--clr-primary-500);
    color: var(--clr-accent-900);
    box-shadow: var(--box-shadow);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    letter-spacing: normal;
    position: absolute;
    height: 30px;
    width: 40px;
    border:none;
  }
  .add{
    border-right: 1px solid var(--clr-accent-900);
    border-radius: var(--border-radius) 0 0  var(--border-radius) ;
    right:45px;
    top: 5px;
  }

  .close{
    border-radius:0 var(--border-radius) var(--border-radius) 0 ;
    right:5px;
    top:5px;
  }
  .delete-contact{
    position: absolute;
    top:2px;
    right:2px;
    padding:0.25rem;
    aspect-ratio: 1/1;

    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    letter-spacing: normal;
    border:none;
    background: hsl(8, 100%, 50%);
    color:hsl(0, 0%, 0%);
  }