.form{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6,1fr);
    gap:1rem;
    background-color: var(--clr-primary-500);
}
.form-field > *{
    width: 100%;
    border-radius: 10px;
}
.form-field input{
    border:none;
    box-shadow: 2px 2px 50px 0px var(--clr-accent-500);
    padding: 1rem;
}
.form-field-button{
    background: var(--clr-primary-500);
    color: var(--clr-accent-900);
    border: none;
    border-radius: 10px;
    box-shadow: 2px 2px 50px 0px var(--clr-accent-500);
}


.loginSignupButtons{
    color: var(--clr-accent-900);
    background-color: var(--clr-primary-500);
    border:none;
}

.loginbutton{
    grid-column: 1 / 4;
}
.signupbutton{
    grid-column: 4 / 7;
}
.login{
    grid-column: 2 / 6;
}
.signup{
    grid-column: 2 / 6;
}